.principal__sobre{  
    .titulo{
        text-align: justify;
        grid-area: titulo;
        font-size: 40px;
        font-weight: 500;
        font-family: $fonte-titulo;
        text-align: center;
        margin: 5em 0;
        color: $preto;    
    }
}

.principal__sobre__conteudo{
    display: grid;
    justify-content: center;
    row-gap: 3em;
    margin-bottom: 8em;
    padding: 2rem;
    grid-template-areas:
    "conteudo"
    "banner";
    .principal__conteudo__sobre__texto{
        display: grid;
        grid-area: conteudo;      
        .texto{
            grid-area: texto;
            font-family: $fonte-texto;
            color: $cor-texto;
            text-align: justify;
            align-self: center;
            line-height: 2em;
            font-size: $fonte-tamanho * 1.2;
            width: 100%;
        }       
    }
    .principal__conteudo__sobre__banner{
        grid-area: banner;
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        img{
            height: 200px;
            width: 200px;
        }
    }
  
}

@media screen and (min-width:320px) and (max-width:600px){
    .principal__sobre{
        width: 100%;
        .titulo{
            font-size: $fonte-tamanho * 1.4;
        }
        .principal__sobre__conteudo{
            .principal__conteudo__sobre__texto{
                p{
                    font-size: 15px;
                }
            }           
        }
    }
}

@media screen and (max-width:660px){
    .principal__conteudo__sobre__banner{
        flex-direction: column;
        align-items: center;
        img{
            display: none;
        }
        img:first-child{
            display: block;
            height: 180px;
            width: 180px;
        }
    }
}


    