@import '../abstract/variaveis';

.cabecalho{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $cor-principal;
    .navegacao{
        width: 50%;
        padding: 1rem 0;
    }
}

.lista__navegacao{
    display: flex;
    justify-content: space-between;
    .lista__navegacao-item{
        font-family: $fonte-principal;
        text-decoration: none;
        font-weight: 700;
        font-size: $fonte-tamanho;
        color: $preto;
    }
}

.lista__navegacao-redes{
    li{
        padding: 1em 1em;
        border: 1px solid $preto;
        border-top: none;
        font-family: $fonte-principal;    
    }
}

@media screen and (min-width: 320px) and (max-width:600px){
    .cabecalho{
        .navegacao{    
            margin: 0;
            width: 100%;
            .lista__navegacao{
                justify-content: space-around;
                .lista__navegacao-item{
                    border: none;
                    font-size: $fonte-tamanho / 1.1;
                }
            }         
        }
    }
    .rodape{
        .rodape__conteudo{
            column-gap: 0.2rem;
            font-size: 12px;
        }
    }   
}

//CORRECAO LISTA REDES CABECALHO

@media screen and (min-width: 320px) and (max-width:660px){
    .lista__navegacao-redes{        
        top: 200%;
        right: 4%;
        li{
            border: none;
        }
    }
}

