@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito:wght@500&family=Raleway:wght@700&display=swap');

// CORES

$cor-principal: rgb(196, 223, 223);
$cor-secundario:#D2E9E9;
$cor-terceario: #F8F6F4;
$preto: rgba(0, 0, 0, 0.699);
$cor-texto: #828282;

//FONTES

$fonte-principal: 'Raleway', sans-serif;
$fonte-titulo: 'Inter', sans-serif;
$fonte-texto: 'Nunito';

//TAMANHOS FONTES

$fonte-tamanho: 1rem;