@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Nunito:wght@400;700&family=Playfair+Display:wght@500&family=Raleway:wght@500&display=swap');

:root{
    --amarelo: #FDC435;
    --preto: black;
    --cinza: #404040;
    --branco: #F9FAFF;
    --cinza-texto: #828282;
    --fonte-cabecalho: 'Raleway', sans-serif;
    --fonte-paragrafos: 'Nunito';
    --fonte-titulos: 'Playfair Display'
}

body{
    background-color: var(--branco);
}

main{
    height: 100vw;
}

.cabecalho{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza);
    height: 4em;
}

.cabecalho__lista__navegacao{
    width: 50%;
}

.cabecalho__lista__navegacao__itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__lista__navegacao__link, .opcao-redes-sociais-item, .opcoes-redes-sociais-titulo{
    font-family: var(--fonte-cabecalho);
    color: #FFF;
    font-size: 1.12rem; 
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.botao-redes-sociais{
    display: none;
}

.lista-rede-sociais{
    display: none;
}

.lista-rede-sociais{
    position: absolute;
    top: 100%;
    right: 24.9%;
}

.opcao-redes-sociais-item-sanduiche{
    display: none;
}

.opcoes-redes-sociais{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.rede-social-item{
    padding: 1em;
    border: 0.5px solid var(--cinza-texto);
}

.linkedin:hover{
    background-color: #0e76a8;
    color: var(--branco);
}

.instagram:hover{
    background-color: #a13f91;
    color: var(--branco);
}

.rede-social-link:hover{
    color: white;
}


.opcoes-redes-sociais-titulo{
    display: none;
}

.container__redes-sociais{
    padding: 1.47em 0;
}

.botao-redes-sociais:checked~.container__redes-sociais{
    background-color: var(--amarelo);
}

.botao-redes-sociais:checked~.lista-rede-sociais{
    display: block;
}


.rede-social-link{
    font-family: var(--fonte-cabecalho);
    color: var(--cinza);
    font-size: 1.12rem; 
    font-weight: 500;
    text-decoration: none;
}

main{
    height: 100%;
    background-color: var(--branco);
}

.container-principal{
    display: flex;
    flex-direction: column;
    row-gap: 10em;
    align-items: center;
}

.principal__titulo{
    font-size: 3rem;
    font-family: var(--fonte-titulos);
    text-align: center;
    padding-top: 3em;
    width: 20%;
}

hr{
    height: 4px;
    background-color: var(--amarelo);
    border: none;
    width: 10%;
}

.principal-conteudo{
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    column-gap: 2em;
    border-radius: 8px;
    box-shadow: 4px 4px 1em var(--cinza-texto);;
    padding: 1em;
    margin: 2em;
    background-color: white;
}

.principal-sobre{
    padding: 2em;
    text-align: center;
}

.principal-imagem{
    display: flex;
    justify-content: center;
}

img{
    width: 80%;
}

.principal-sobre-texto{
    color: var(--cinza-texto);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fonte-textp);
    line-height: 1.5em
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza);
    padding: 1.5em 8em;
    text-align: center;
    column-gap: 0.5em;
    margin-top: 7em;
}

.rodape p{
    color: var(--branco);
    font-family: var(--fonte-cabecalho);
}

.rodape img{
    width: 70%;
}

@media screen and (max-width: 390px){
    
    .opcoes-redes-sociais{
        row-gap: 0;
    }

    .opcao-redes-sociais-item-sanduiche{
        display: block;
    }

    .opcao-redes-sociais-item{
        display: none;
    }

    .opcoes{
        font-size: 0.4rem;
    }

    .rede-social-item{
        background-color: var(--cinza);
        padding: 0.5em;
        border: none;
    }

    .rede-social-link{
        font-size: 0.8rem;
        color: #F9FAFF;
    }

    .instagram{
        background-color: #a13f91;
    }

    .linkedin{
        background-color:  #0e76a8;;
    }

    .opcoes-redes-sociais-titulo{
        display: block;
        background-color: var(--amarelo);
        padding: 0.5em;
    }

    .cabecalho{
        padding: 0 1em;
    }

    .cabecalho__lista__navegacao{
        width: 100vw;
        margin-left:0;
    }

    .container__redes-sociais{
        padding: 0;
    }

    .lista-rede-sociais{
        margin-top: 0;
        right: 0;
    }

    .cabecalho__lista__navegacao__itens{
        justify-content: space-around;
        column-gap: 1em;
    }

    .container-principal{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .principal__titulo{
        width: 62%;
    }

    .principal-sobre{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
    }

    .principal-sobre-texto{
        font-size: 1rem;
    }

    .principal-conteudo{
        display: flex;
        flex-direction: column;
    }

    img{
        width: 100%;
    }

    .rodape{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2em;
    }

    .rodape p{
        font-size: 0.8em;
    }

    .rodape img{
        width: 60%;
    }

}