@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Nunito:wght@400;700&family=Playfair+Display:wght@500&family=Raleway:wght@500&display=swap');


:root{
    --amarelo: #FDC435;
    --cinza: #404040;
    --branco: #F9FAFF;
    --cinza-texto: #828282;
    --fonte-cabecalho: 'Raleway', sans-serif;
    --fonte-titulo: 'Playfair Display', serif;
    --fonte-textp: 'Nunito', sans-serif;
}

body{
    background-color: var(--amarelo);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza);
    padding: 1.5em;
}

.cabecalho__lista__navegacao{
    width: 50%;
}

.cabecalho__lista__navegacao__itens{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho__lista__navegacao__link{
    font-family: var(--fonte-cabecalho);
    color: #FFF;
    font-size: 1.12rem; 
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.container-principal{
    width: 80%;
    margin: 1em auto;
    background-color: var(--branco);
    border-radius: 1em;
} 

.principal{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.principal__conteudo{
    display: flex;
    flex-direction: column;  
    padding: 4em;
    row-gap: 3em;
}

.principal__imagem{
    display: flex;
    justify-content: center;
    padding: 1em;
}

.imagem{
    width: 90%;
}

.principal__conteudo__titulo{
    font-size: 46px;
    font-weight: 486;
    font-family: var(--fonte-titulo);
}

.principal__conteudo__texto{
    color: var(--cinza-texto);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--fonte-textp);
    line-height: 1.5em;
}

.principal__conteudo__botoes{   
    display: flex;
    column-gap: 1em;
}

.principal__conteudo__botoes__link{
    font-family: var(--fonte-textp);
    color: var(--cinza-texto);
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid var(--cinza);
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: var(--amarelo);
    transition: 1s all;
}

.projetos:hover{
    background-color: #f8b50d;
    color: black;
}

.linkedin{
    background-color: var(--branco);
}

.linkedin:hover{
    background-color: #0e76a8;
    color: black;
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza);
    padding: 1.5em 8em;
    text-align: center;
    column-gap: 0.5em;
}

.rodape p{
    color: var(--branco);
    font-family: var(--fonte-cabecalho);
}

.rodape img{
    width: 70%;
}

@media screen and (max-width: 450px){
    .cabecalho{
        padding: 1.5em 0;
    }

    .cabecalho__lista__navegacao{
        width: 65%;
    }

    .cabecalho__lista__navegacao__itens{
        justify-content: space-between;
    }

    .principal{
        display: flex;
        flex-direction: column-reverse;
        row-gap: 1em;
    }

    .principal__conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5em;
        padding: 0;
    }

    .principal__conteudo__titulo{
        font-size: 2rem;
        text-align: center;
    }

    .principal__conteudo__texto{
        padding: 0 2em;    
        text-align: justify;
    }

    .principal__imagem{
        padding: 1em;
    }

    .imagem{
        width: 90%;
    }

    .principal__conteudo{       
        row-gap: 1.5em;
    }

    .principal__conteudo__botoes__link{
        margin-bottom: 1em;
    }
    
    .rodape{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2em;
    }

    .rodape p{
        font-size: 0.8em;
    }

    .rodape img{
        width: 60%;
    }
}


@media screen and (max-width: 1024px){
    .cabecalho{
        padding: 1.5em 0;
    }

    .cabecalho__lista__navegacao{
        width: 65%;
    }

    .cabecalho__lista__navegacao__itens{
        justify-content: space-between;
    }

    .principal{
        display: flex;
        flex-direction: column-reverse;
        row-gap: 1em;
    }

    .principal__conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5em;
        padding: 0;
    }

    .principal__conteudo__titulo{
        font-size: 2rem;
        text-align: center;
    }

    .principal__conteudo__texto{
        padding: 0 2em;    
        text-align: center;
    }

    .principal__imagem{
        padding: 1em;
    }

    .imagem{
        width: 90%;
    }

    .principal__conteudo{       
        row-gap: 1.5em;
    }

    .principal__conteudo__botoes__link{
        margin-bottom: 1em;
    }
    
    .rodape{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2em;
    }

    .rodape p{
        font-size: 0.8em;
    }

    .rodape img{
        width: 60%;
    }
}

@media screen and (max-width: 600px){
    .principal__conteudo__titulo{
        margin: 0 0.125em ;
    }
}